h1 {
    text-align: center;
}

.post-listing {
    margin-bottom: 10px;
}
.post-listing * {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}
.speech-bubble {
    padding: 20px;
    padding-bottom: 0px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 35px;
    background: white;
    margin-left: 40px;
}
.speech-bubble::after {
    content: '|||||||';
    color: rgba(0, 0, 0, 0);
	position: relative;
    right: 42px;
	bottom: 25px;
    background: url('/static/img/speechbubble-side.png');
}
.speech-bubble-content {
    overflow: auto;
    max-width: 100%;
    border-radius: 5px;
}
.speech-bubble-content * {
    max-width: 100%;
    word-wrap: break-word;
}

#bio-container {
    max-width: calc(100% - 220px);
}
#info-container {
    max-width: calc(100% - 190px);
}