h1 {
    text-align: center;
}

.post-listing {
    margin-bottom: 10px;
}
.post-listing * {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

#bio-container {
    max-width: calc(100% - 220px);
}
#info-container {
    max-width: calc(100% - 230px);
}