body {
	background-image: url("/static/img/bg.png");
	background-repeat: repeat-x;
	font-family: Verdana;
	text-align: center;
}
label {
	font-weight: bold;
}

.contributor {
	width: 136px;
	background: #eee;
	padding: 8px 8px;
	margin-bottom: 20px;
	border: 1px solid #aaa;
	border-radius: 3px;
	margin-left: 8px;
}
.contributor-avatar {
	border: 4px #aaa;
	border-style: double;
	border-radius: 3px;
	display: block;
}
.contributor-name {
	font-weight: bold;
	font-size: 22px;
}
.contributor-bio {
	font-size: 18px;
	color: #aaa;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #555;
}
a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #222;
}
.sidenav2 {
  width: 275px;
  float: right;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 8px;
  margin-top: 8px;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.cover {
	margin-bottom: 8px;
}
.blogpost {
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 3px;
}
.blogpost iframe {
	max-width: 100%;
}
.iconz2 img {
	border: 4px #aaa;
	border-style: double;
	border-radius: 3px;
	float: left;
	margin-left: 8px;
	margin-top: 8px;
}
.aligned {
	font-weight: bold;
	font-size: 16px;
    display: flex;
    align-items:center;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.name2 {
	margin-left: 8px;
	color: #555;
}
.blog-icon {
	border: 4px #aaa;
	border-style: double;
	border-radius: 3px;
	width: 30px;
	height: 30px;
}
.blog-icon img {
	width: 100%;
	height: 100%;
}
.blog-image img {
	width: 580px;
	border: 1px #aaa solid;
	border-radius: 3px;
	margin-bottom: 4px;
}
.blog-title {
	margin-left: 4px;
	font-size: 20px;
	font-weight: bold;
	color: #555;
}
.blogdesc {
	font-size: 14px;
	margin-bottom:4px;
	white-space: pre-wrap;
	padding: 10px;
}
.blogdesc img {
	max-width: 100%;
}
.blogdate {
	margin-left: 4px;
	font-size: 11px;
	color: #555;
	margin-bottom:4px;
	font-weight: bold;
}
.right {
	float: right;
	margin-right: 4px;
}
.blogpost {
	margin-bottom: 8px;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  height: 1px;
  border: none;
  background-color: #555;
}
.bloguploadtext {
	margin-left: 4px;
	font-size: 18px;
	color: #555;
	margin-bottom:4px;
	font-weight: bold;
}
.brapalicious {
	margin-left: 4px;
	color: #555;
}
.comments {
	
}
.comment-box {
	margin-left: 4px;
	margin-bottom: 4px;
}
.comment-box textarea {
	width: calc(100% - 12px);
	height: 100%;
	resize: vertical;
}
.comment-content {
	margin-left: 4px;
	font-size: 14px;
	color: #555;
	margin-bottom:4px;
	white-space: pre-wrap;
}
.commentdate {
	margin-right: 4px;
	font-size: 11px;
	color: #555;
	margin-bottom:4px;
	font-weight: bold;
	text-align: right;
}
.comment-delete {
	text-align: right;
}
.comment-delete input[type="submit"] {
	color: white;
	background: red;
	border: none;
}
.comment-reply-content {
	margin-left: 10px;
	font-size: 12px;
	color: #555;
	margin-bottom:4px;
	white-space: pre-wrap;
}
.comment-reply {
	margin-left: 32px;
}
.comment-reply-box {
	margin-left: 36px;
}
.comment-reply-box textarea {
	width: calc(100% - 150px);
	height: 50px;
	min-height: 50px;
	resize: vertical;
}
.commentreplyicon {
	border: 4px #aaa;
	border-style: double;
	border-radius: 3px;
}
.commentreplyicon {
	margin-left: 32px;
}
.commentreplyicon img {
	width: 24px;
	height: 24px;
}
.alignedcom {
	font-weight: bold;
	font-size: 16px;
    display: flex;
    align-items:center;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}
input {
	margin: 4px;
}
.tags {
	color: #555;
	margin-left: 4px;
	margin-bottom: 4px;
}
.search {
	color: #555;
	margin-left: 4px;
	margin-bottom: 4px;
}
.galleryimg img {
	width: 100px;
	border: 1px #aaa solid;
	border-radius: 3px;
	margin-bottom: 4px;
	margin-right: 4px;
}
.headshot1 img {
	width: 193px;
	border: 1px #aaa solid;
	border-radius: 3px;
}
.headshot2 img {
	width: 193px;
	border: 1px #aaa solid;
	border-radius: 3px;
	margin-top: -4px !important;
}
.speech {
	width: 379px;
	border: 1px #aaa solid;
	background-color: #fff;
	border-radius: 3px;
	margin-left: 4px;
	height: 225px;
}
.fuck {
	padding: 4px;
	color: #555;
}
.speech2 {
	width: 379px;
	border: 1px #aaa solid;
	background-color: #fff;
	border-radius: 3px;
	margin-bottom: 4px;
	margin-right: 4px;
	height: 225px;
}
.xbbcode-video {
	max-width: calc(100% - 4px);
}
.mood-choice {
	display: inline-block;
}
.mood-choice img {
	width: 50px;
}
.mood-choice input {
	display: none;
}
.mood-choice input:checked + img {
	outline: 2px solid rgb(0, 20, 180);
}
.mood-chooser-open, .comment-reply-open {
	cursor: pointer;
	display: inline-block;
}
.mood-chooser-moods {
	width: 175px;
}
.section {
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
}
.section-header {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}
.container {
    background: #eee;
    border: 1px solid #aaa;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
}
.container-header {
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: default;
}
.form-error {
	color: red;
	font-weight: bold;
}
.interview {
    background: none;
    border: none;
	padding: 0px;
	margin: 0px;
}
.interview-left {
    text-align: left;
}
.interview-right {
    text-align: right;
}

.interview-content.speech-bubble {
    max-width: calc(100% - 290px);
}
.interview-image {
    width: 128px;
    height: auto;
}
.interview-name {
    font-weight: bold;
}
.interview-person {
    position: relative;
    top: 20px;
	right: 10px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
	vertical-align: top;
}
.interview-noresize .interview-person img {
	width: auto !important;
	height: auto !important;
}
.blog-tags, .blog-media {
	border-top: 1px solid #aaa;
	padding: 5px;
	color: #555;
	font-weight: bold;
}
.tag {
    display: inline-block;
    padding: 3px;
    margin: 3px;
    background: rgba(0, 0, 0, 0.2);
}
.booru-reference {
	margin: 3px;
}
.booru-reference a {
	border-bottom: 1px solid gray;
}
.booru-reference i {
	font-size: 10px;
}
.comment-mood {
	width: 50px;
}
.comment-mood img {
	width: 100%;
	height: 100%;
}
.blog-details {
	margin-left: 4px;
	font-size: 11px;
	color: #555;
	margin-bottom:4px;
	font-weight: bold;
	text-align: right;
}
.file-upload {
	border-top: 1px solid gray;
	margin-top: 10px;
	padding-top: 10px;
}

#site-logo {
	margin-bottom: 20px;
}
#site-logo img {
	max-width: 100%;
}
#main {
	display: inline-block;
	width: 890px;
	text-align: left;
}
#contributors {
	text-align: left;
	position: absolute;
	right: calc(50vw - 625px);
	top: 201px;
}
#footer, #header-links {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	text-transform: lowercase;
	margin-bottom: 10px;
}
#header-links {
	margin-top: 0px;
	padding: 0px;
	margin-bottom: 20px;
}
#comments-area {
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 3px;
	margin-bottom: 8px;
}

/* Speech bubble */
.speech-bubble {
	position: relative;
	background-color: #fff;
	padding: 1.125em 1.5em;
	border-radius: 1rem;
	display: inline-block;
	margin-left: 20px;
	margin-top: 60px;
	bottom: 10px;
	border-bottom-color: #fff;
	transform: scaleY(-1);
}
.speech-bubble-content {
	word-wrap: break-word;
	transform: scaleY(-1);
}
.speech-bubble-content img, .speech-bubble-content video {
	max-width: 100%;
}
.speech-bubble::before {
    content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 20px;
	border: .75rem solid transparent;
	border-top: none;
	transform: rotate(-85deg) scale(0.8, 2);
	border-bottom-color: inherit;
}
.speech-bubble-left::before {
	left: -20px;
}
.speech-bubble-right .speech-bubble-content, .speech-bubble-left .speech-bubble-content {
	text-align: left;
}
.speech-bubble-right {
	margin-left: 0px;
    margin-right: 35px;
}
.speech-bubble-right::before {
	transform: rotate(85deg) scale(-0.8, 2);
	right: -20px;
}

@media screen and (max-width: 1280px) {
	#contributors {
		display: none;
	}
}

/* Mobile view */
@media screen and (max-width: 975px) {
	#site-logo {
		width: calc(100vw - 68px);
	}
	#main {
		position: absolute;
		left: 25px;
		width: calc(100vw - 68px);
	}
}