<div id="logo-container">
    <a href="/home">
        <img src="/assets/logo" alt="Site logo" id="logo">
    </a>
</div>
<div id="nav">
    <a href="/home">Main Site</a> |
    <a href="/booru/tags">Items</a> |
    <a href="/booru/collections">Collections</a>
</div>