body {
  background-image: url("src/bg.png");
  background-repeat: repeat-x;
  margin: 0 auto;
  width: 891px;
  font-family: Verdana;
}
.maincol {
  float: left;
  width: 590px;
  margin-top: 25px;
  height: 100%;
}
.sidenav {
  width: 275px;
  float: right;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 8px;
  margin-top: 125px;
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-left: 8px;
}
.iconz img {
	border: 4px #aaa;
	border-style: double;
	border-radius: 3px;
	float: left;
}
.nameperson {
	margin-left: 144px;
	font-weight: bold;
	font-size: 22px;
}
.sidedesc {
	margin-left: 144px;
	font-size: 18px;
	color: #aaa;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #555;
}
a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #222;
}
.sidenav2 {
  width: 275px;
  float: right;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 8px;
  margin-top: 8px;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.cover {
	margin-bottom: 8px;
}
.blogpost {
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 3px;
}
.iconz2 img {
	border: 4px #aaa;
	border-style: double;
	border-radius: 3px;
	float: left;
	margin-left: 8px;
	margin-top: 8px;
}
.aligned {
	font-weight: bold;
	font-size: 16px;
    display: flex;
    align-items:center;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.name2 {
	margin-left: 8px;
	color: #555;
}
.blogicon {
	border: 4px #aaa;
	border-style: double;
	border-radius: 3px;
}
.blogimage img {
	width: 580px;
	border: 1px #aaa solid;
	border-radius: 3px;
	margin-bottom: 4px;
}
.blogpostpoppoppoppop {
	margin-left: 4px;
	font-size: 20px;
	font-weight: bold;
	color: #555;
}
.blogdesc {
	margin-left: 4px;
	font-size: 14px;
	color: #555;
	margin-bottom:4px;
}
.blogdate {
	margin-left: 4px;
	font-size: 11px;
	color: #555;
	margin-bottom:4px;
	font-weight: bold;
}
.FUCKASS {
	float: right;
	margin-right: 4px;
}
.blogpost {
	margin-bottom: 8px;
}
.footer {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
 }
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  height: 1px;
  border: none;
  background-color: #555;
}
.bloguploadtext {
	margin-left: 4px;
	font-size: 18px;
	color: #555;
	margin-bottom:4px;
	font-weight: bold;
}
.brapalicious {
	margin-left: 4px;
	color: #555;
}
.comments {
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 3px;
}
.comments {
	margin-bottom: 8px;
}
.cocknuts {
	margin-left: 4px;
	margin-bottom: 4px;
}
.commentdesc {
	margin-left: 4px;
	font-size: 14px;
	color: #555;
	margin-bottom:4px;
}
.commentdate {
	margin-right: 4px;
	font-size: 11px;
	color: #555;
	margin-bottom:4px;
	font-weight: bold;
	text-align: right;
}
.commentreplydesc {
	margin-left: 32px;
	font-size: 12px;
	color: #555;
	margin-bottom:4px;
}
.commentreplyicon {
	border: 4px #aaa;
	border-style: double;
	border-radius: 3px;
}
.commentreplyicon {
	margin-left: 32px;
}
.commentreplyicon img {
	width: 24px;
	height: 24px;
}
.alignedcom {
	font-weight: bold;
	font-size: 16px;
    display: flex;
    align-items:center;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}
input {
	margin: 4px;
}
.tags {
	color: #555;
	margin-left: 4px;
	margin-bottom: 4px;
}
.search {
	color: #555;
	margin-left: 4px;
	margin-bottom: 4px;
}
.galleryimg img {
	width: 100px;
	border: 1px #aaa solid;
	border-radius: 3px;
	margin-bottom: 4px;
	margin-right: 4px;
}
.headshot1 img {
	width: 193px;
	border: 1px #aaa solid;
	border-radius: 3px;
}
.headshot2 img {
	width: 193px;
	border: 1px #aaa solid;
	border-radius: 3px;
	margin-top: -4px !important;
}
.speech {
	width: 379px;
	border: 1px #aaa solid;
	background-color: #fff;
	border-radius: 3px;
	margin-left: 4px;
	height: 225px;
}
.fuck {
	padding: 4px;
	color: #555;
}
.speech2 {
	width: 379px;
	border: 1px #aaa solid;
	background-color: #fff;
	border-radius: 3px;
	margin-bottom: 4px;
	margin-right: 4px;
	height: 225px;
}
