<div class="blogpost">
    <div class="aligned"> 
        <div class="blogicon"><img src="/static/img/iconthing.png" alt=""></div>
        <div class="name2"><span><%= post.author.name %></span>
    </div>
</div> 
    <div class="blogimage"><center><img src="/static/img/blogpostholder.png"></center></div>
    <div class="blogpostpoppoppoppop"><%= post.title %></div>
    <div class="blogdate"><span><%= post.createdAt %><span></div>
    <div class="blogdesc"><%= post.content %></div>
</div>
<div class="comments">
    <div class="aligned"> 
        <div class="name2"><span>COMMENTS</span>
    </div>
</div> 
    <div class="cocknuts"><textarea id="commentbox" name="commentbox" rows="10" col="50">I PISS AND SHIT ALL OVER THE PLACE</textarea><br><input type="submit" value="go hit the showers"></div>
    <hr>
    <div class="comment">
                    <div class="aligned"> 
        <div class="blogicon"><img src="/static/img/iconthing.png" alt=""></div>
        <div class="name2"><span>TEST</span>
    </div>
</div>
                <div class="commentdesc">Ojamajo Doremi firing on all cylinders—again (yawn). You should be thankful for Ojamajo Doremi, because there is nowhere else you can experience the intense beauty as shown and seen here. Go ahead, try, go to see precure, go see your favorite anime, it doesn’t rock like Ojamajo Doremi——we’ll smoke a joint together and you tell me that the shitty anime you like gets you off more than Ojamajo Doremi…. Luckily, for you, there is Ojamajo Doremi. This message was brought to you by Pastabowl. Because it's just that good. Ask your doctor——if you have a half hard dick for over three days then Ojamajo Doremi might not be right for you. Re:Zero maybe-----stinks like it......</div>
                <div class="commentdate"><span>fuckin uhhh idk whenever<span></div>
</div>
    <div class="commentreply">
                    <div class="alignedcom"> 
        <div class="commentreplyicon"><img src="/static/img/iconthing.png" alt=""></div>
        <div class="name2"><span>TEST</span>
    </div>
</div>
                <div class="commentreplydesc">Ojamajo Doremi firing on all cylinders—again (yawn). You should be thankful for Ojamajo Doremi, because there is nowhere else you can experience the intense beauty as shown and seen here. Go ahead, try, go to see precure, go see your favorite anime, it doesn’t rock like Ojamajo Doremi——we’ll smoke a joint together and you tell me that the shitty anime you like gets you off more than Ojamajo Doremi…. Luckily, for you, there is Ojamajo Doremi. This message was brought to you by Pastabowl. Because it's just that good. Ask your doctor——if you have a half hard dick for over three days then Ojamajo Doremi might not be right for you. Re:Zero maybe-----stinks like it......</div>
                <div class="commentdate"><span>fuckin uhhh idk whenever<span></div>
</div>
</div>