<div class="blogpost">
    <div class="aligned"> 
        <div class="blogicon"><img src="img/iconthing.png" alt=""></div>
        <div class="name2"><span>TEST</span>
    </div>
</div> 
    <div class="blogimage"><center><img src="img/blogpostholder.png"></center></div>
    <div class="blogpostpoppoppoppop"><a href="just make this redirect to a standalone blog page">INSERT FUNNY PLACEHOLDER</a></div>
    <div class="blogdesc">Ojamajo Doremi firing on all cylinders—again (yawn). You should be thankful for Ojamajo Doremi, because there is nowhere else you can experience the intense beauty as shown and seen here. Go ahead, try, go to see precure, go see your favorite anime, it doesn’t rock like Ojamajo Doremi——we’ll smoke a joint together and you tell me that the shitty anime you like gets you off more than Ojamajo Doremi…. Luckily, for you, there is Ojamajo Doremi. This message was brought to you by Pastabowl. Because it's just that good. Ask your doctor——if you have a half hard dick for over three days then Ojamajo Doremi might not be right for you. Re:Zero maybe-----stinks like it......</div>
    <div class="blogdate"><span>fuckin uhhh idk whenever<span><span class="FUCKASS">comments (69)</div>
</div>
<div class="blogpost">
    <div class="aligned"> 
        <div class="blogicon"><img src="img/iconthing.png" alt=""></div>
        <div class="name2"><span>TEST</span>
    </div>
</div> 
    <div class="blogimage"><center><img src="img/blogpostholder.png"></center></div>
    <div class="blogpostpoppoppoppop"><a href="just make this redirect to a standalone blog page">INSERT FUNNY PLACEHOLDER</a></div>
    <div class="blogdesc">Ojamajo Doremi firing on all cylinders—again (yawn). You should be thankful for Ojamajo Doremi, because there is nowhere else you can experience the intense beauty as shown and seen here. Go ahead, try, go to see precure, go see your favorite anime, it doesn’t rock like Ojamajo Doremi——we’ll smoke a joint together and you tell me that the shitty anime you like gets you off more than Ojamajo Doremi…. Luckily, for you, there is Ojamajo Doremi. This message was brought to you by Pastabowl. Because it's just that good. Ask your doctor——if you have a half hard dick for over three days then Ojamajo Doremi might not be right for you. Re:Zero maybe-----stinks like it......</div>
    <div class="blogdate"><span>fuckin uhhh idk whenever<span><span class="FUCKASS">comments (69)</div>
</div>