<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <% if(pageTitle == null) { %>
        <title><%= site.title %></title>
    <% } else { %>
        <title><%= pageTitle %> - <%= site.title %></title>
    <% } %>
</head>
<body>
    <div class="main">
        <div class="maincol">
            <!-- Header -->
            <% include partials/_header.ejs %>
            <%- body %>

            <!-- Footer-->
            <% include partials/_footer.ejs %>
        </div>

        <!-- Sidenav-->
        <% include partials/_sidenav.ejs %>
    </div>
</body>
</html>