<link rel="stylesheet" href="/static/css/mediamanager.css">

<div id="app">
    <h1>Media Manager</h1>

    <div id="options" class="container">
        <div class="container-header">
            <span>Options</span>
        </div>
        <button id="reload-button" @click="reloadMedia()">[~] Reload media</button>
        <button id="delete-button" @click="deleteSelected()">[x] Delete selected</button>
        <button id="select-all-button" @click="selectAll()">[+] Select all</button>
        <button id="select-none-button" @click="selectNone()">[-] Select none</button>
        <br><br>
        <label for="order-by">Order by</label>
        <select id="order-by" v-model="order" @change="loadMedia()">
            <template v-for="type in orders">
                <option v-if="type[1] == order" selected :value="type[1]">{{ type[0] }}</option>
                <option v-else :value="type[1]">{{ type[0] }}</option>
            </template>
        </select>
    </div>

    <div id="uploader" class="container">
        <div class="container-header">
            <span>Upload</span>
        </div>
        <form @submit.prevent="uploadFile">
            Select a file (or multiple) to upload:
            <br>
            <input id="file" type="file" multiple>
            <input type="submit" value="Upload">
        </form>
        <template :key="uplKey" v-if="uploads.length > 0">
            <div v-for="upload in uploads" class="file-upload">
                Uploading {{ upload.file.name }}...
                <br>
                <template v-if="upload.error">
                    <p class="form-error">{{ upload.error }}</p>
                </template>
                <template v-else>
                    <progress max="100" :key="upload.progress" :value="upload.progress">{{ upload.progress }}%</progress> ({{ upload.progress }}%)
                    <br>
                    <button @click="cancelUpload(upload.id)">Cancel Upload</button>
                </template>
            </div>
        </template>
    </div>

    <div id="media" class="container">
        <div class="container-header">
            <span>Media</span>
        </div>
        <template v-if="error">
            <p class="form-error">{{ error }}</p>
            <br>
        </template>
        <template v-if="loading">
            <div id="loading">Loading...</div>
        </template>
        <template v-else>
            <div class="media-nav">
                <span class="page-arrow" @click="lastPage()" v-if="currentPage > 1">&lt;</span>
                <span class="page-number">Page {{ currentPage }} of {{ pages }}</span>
                <span class="page-arrow" @click="nextPage()" v-if="currentPage < pages">&gt;</span>
            </div>
            <div id="media-stats">Total media: {{ totalMedia }}</div>
            <div id="media-container">
                <template v-if="totalMedia > 0">
                    <div @click="toggleSelect(file.id)" v-for="file in media" :id="'media-'+file.id" :class="selected.includes(file.id) ? ['media-listing', 'media-selected'] : ['media-listing']">
                        <div :class="file.mime.startsWith('video/') ? ['media-thumbnail', 'media-thumbnail-video'] : ['media-thumbnail']">
                            <img v-if="file.thumbnail_key" :src="'/assets/thumbnail/'+file.id" :alt="file.title">
                            <img v-else src="/static/img/media-placeholder.png" :alt="file.title">
                        </div>
                        <div class="media-details">
                            <a @click="toggleSelect(file.id)" :href="'/media/'+file.id">
                                {{ file.title }}
                                <br>
                                ({{ file.filename }})
                            </a>
                            <br>
                            <hr>
                            <a @click="toggleSelect(file.id)" :href="'/media/'+file.id">
                                View/Edit File
                            </a>
                            <br>
                            <hr>
                            Uploaded by <a :href="'/contributor/'+file.uploader_username">{{ file.uploader_username }}</a>
                        </div>
                    </div>
                </template>
                <template v-else>
                    No media files yet. How about you upload one!
                </template>
            </div>
            <div class="media-nav">
                <span class="page-arrow" @click="lastPage()" v-if="currentPage > 1">&lt;</span>
                <span class="page-number">Page {{ currentPage }} of {{ pages }}</span>
                <span class="page-arrow" @click="nextPage()" v-if="currentPage < pages">&gt;</span>
            </div>
        </template>
    </div>
</div>

<script>
    const maxUploadSize = <%= maxUploadSize %>;
</script>
<script src="/static/js/api.js"></script>
<script src="/static/js/axios.js"></script>
<script src="/static/js/mediamanager.js"></script>