<hr>
<div class="pagez">page: <a href="do whatever the fuck you do with this shit idk">1</a>,<a href="do whatever the fuck you do with this shit idk">2</a>,<a href="do whatever the fuck you do with this shit idk">3</a>,<a href="do whatever the fuck you do with this shit idk">...</a></div>
<hr>
<div class="footer">
do u like memes, 2021
</br>powered by <a href="https://git.termer.net/trigex/harukaze">Harukaze</a>
</div>