<div id="site-logo">
    <center>
        <a href="/">
            <img src="/assets/logo">
        </a>
    </center>
</div>
<div id="header-links">
    <% if(authed) { %>
        <a href="/myaccount">My Account</a> |
        <a href="/logout">Log out!</a>
        <% if(user.role > 0) { %>
            | <a href="/panel">Contributor Panel</a>
            | <a href="/blogs/new">Make a new blog!</a>
        <% } %>
        <% if(user.role > 1) { %>
            | <a href="/panel/admin">Administrator Panel</a>
        <% } %>
    <% } else { %>
        <a href="/login">Log In!</a> |
        <a href="/signup">Sign Up!</a>
    <% } %> |
    <a href="/search">Search posts</a> |
    <a href="/comments">Comments</a>
    <% if(enableBooru) { %>
        | <a href="/booru">Booru</a>
    <% } %>
    <% for(const page of navigationPages) { %>
        | <a href="/page/<%= page.slug %>"><%= page.title %></a>
    <% } %>
</div>