<% if(typeof contributors != 'undefined') { %>
    <div id="contributors">
    <% for(contributor of contributors) { with(contributor) { %>
        <div class="contributor">
            <a href="/contributor/<%= username %>">
                <div class="contributor-avatar">
                    <img src="/assets/avatar/<%= username %>">
                </div>
                <div class="contributor-name">
                    <%= username %>
                </div>
            </a>
            <div class="contributor-bio">
                <% if(bio) { %>
                    <%= bio %>
                <% } else { %>
                    <i>No bio added...</i>
                <% } %>
            </div>
        </div>
    <% } } %>
    </div>
<% } %>