<% contributors.forEach(function(contributor) { %>
    <div class="sidenav">
        <div class="iconz">
            <img src="/static/img/testicon.png"><div class="nameperson"><a href="do whatever you shall with this, seth"><%= contributor.name %></a></div>
            <div class="sidedesc"><%=contributor.description%></div>
        </div>
    </div>
<% }) %>