<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/css/booru/styles.css">
    <link rel="stylesheet" href="/static/css/booru/comments.css">

    <title><%= pageTitle %></title>
</head>
<body class="no-bg">
    <%- include('./partials/_comments.ejs', {
        authed,
        user,
        item,
        pageSize,
    }) %>
    <script src="/static/js/booru/comments.js" async defer></script>
</body>
</html>